.dashboard__container {
    background: black;
    height: 480px;
    width: 800px;
    padding-left: 10px;
    padding-top: 10px;

    .bms-container {
        border: 1px solid #9CCFCD;
        height: calc(480px - 20px);
        width: calc(800px - 20px);

        .title-bar {
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            padding-bottom: 15px;
            border-bottom: 1px dotted #9CCFCD;
            margin-left: 66px;
            margin-right: 66px;
            color: #CBD2D2;
            font-family: 'PtSans';
            font-size: 25pt;
            margin-bottom: 30px;
        }

        .bms-body {

            display: flex;
            flex-wrap: wrap;
            width: 650px;
            margin-left: 92px;
            margin-right: 68px;
            // row-gap: 13px;
            // column-gap: 17px;
            // grid-column-gap: 17px;
            // grid-row-gap: 13px;

            .battery__container {
                border: 1px solid #9CCFCD;
                background: #4E4E4E;
                width: 36px;
                height: 21px;
                position: relative;
                margin-right: 13px;
                margin-top: 13px;

                .progress {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 50%;
                    height: 100%;
                    transition: all 0.3s;
                    background: #9CCFCD;
                }
    
                .title {
                    color: black;
                    font-size: 12pt;
                    position: absolute;
                    left: 5px;
                    top: 1px;
                    font-family: PTSans;
                }
            }
        }
    }
}
